html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: 18px;
  line-height: 1.4;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Questrial', sans-serif;
}

.illustration {
  width: 100%;
  position: absolute;
  height: 180%;
  bottom: 0;
  left: 0;
}

.illustration-wrapper {
  padding-bottom: 30%;
  position: relative;
  margin-top: auto;
}

h1 {
  font-size: 30px;
}