html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: 18px;
  line-height: 1.4;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Work Sans', sans-serif;
  overflow-x: hidden;
}

.illustration {
  width: 100%;
  position: absolute;
  height: 200%;
  bottom: 0;
  left: 0;
}

.illustration-wrapper {
  padding-bottom: 28%;
  position: relative;
  margin-top: auto;
}

h1 {
  font-size: 40px;
  font-weight: 300;
}

p {
  margin-top: 0;
}

*, *:after, *:before {
  box-sizing: border-box;
  transition: fill .3s ease-in-out, background .3s ease-in-out, color .3s ease-in-out, border-color .3s ease-in-out;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a:link,
a:visited {
  color: var(--color);
}

.wp-block-image {
  margin-top: 0;
}

iframe {
  width: 100%;
}

.wp-block-embed-youtube {
  margin: 0;
}

.wp-embed-aspect-16-9 {
  position: relative;
  margin-bottom: 30px;

  &:after {
    content: '';
    display: block;
    padding-bottom: 9 / 16  * 100%;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}