html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: 18px;
  line-height: 22px;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Questrial', sans-serif;
}

.illustration {
  margin-top: auto;
  flex: 1 0 auto;
}